<div *ngIf="hasLoaded">
  <div class="modal-header">
    <h4 class="text-center">Creación de usuarios con privilegios</h4>
  </div>
  <div class="modal-body">
  <form #registerForm="ngForm" (ngSubmit)="register(registerForm.form)">
      <div class="container">
        <div class="row">
          <div class="col">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" name="FirstName" placeholder="Nombre" ngModel required>
          </div>
          <div class="col">
            <label for="lastname">Apellidos</label>
            <input type="text" class="form-control" name="LastName" placeholder="Apellidos" ngModel required>
          </div>
        </div><br>
        <div class="form-group">
          <label for="email">Correo electrónico</label>
          <input type="email" class="form-control" placeholder="Email" name="Email" ngModel required email>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col">
              <label for="password">Contraseña</label>
              <div class="input-group mb-3">
                <input id="con" type="{{visible}}" class="form-control" placeholder="Contraseña" name="Password" ngModel #con="ngModel" required minlength="6">
                <div class="input-group-append">
                  <button *ngIf="visible === 'password'" class="btn btn-outline-secondary" type="button" id="button-addon" (click)="show()">
                    <fa name="eye"></fa>
                  </button>
                  <button *ngIf="visible === 'text'" class="btn btn-outline-secondary" type="button" id="button-addon-else" (click)="hide()">
                    <fa name="eye-slash"></fa>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col">
              <div class="input-group mb-3">
                <input type="{{visible2}}" class="form-control" id="password2" placeholder="Repetir contraseña" name="Password2" ngModel required>
                <div class="input-group-append">
                  <button *ngIf="visible2 === 'password'" class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="show2()">
                    <fa name="eye"></fa>
                  </button>
                  <button *ngIf="visible2 === 'text'" class="btn btn-outline-secondary" type="button" id="button-addon-else2" (click)="hide2()">
                    <fa name="eye-slash"></fa>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="con.invalid && (con.dirty || con.touched)" class="alert alert-warning" role="alert">
          <div *ngIf="con.value === ''; else invalid">
            La contraseña no puede estar vacía
          </div>
          <ng-template #invalid>
            La contraseña debe tener al menos 6 caracteres.
          </ng-template>
        </div>
        <div class="row">
          <div class="col">
            <label for="phone" class="text-truncate">Teléfono (Opcional) </label>
            <input type="text" class="form-control" placeholder="" name="ContactNumber" ngModel>
          </div>
          <div class="col">
              <div class="form-group">
                  <label for="sel1">Género:</label>
                  <select class="form-control" id="sel1" name="Gender" ngModel required>
                    <option>  </option>
                    <option>Hombre</option>
                    <option>Mujer</option>
                    <option>Prefiero no contestar</option>
                  </select>
                </div>
          </div>
        </div>
        <div *ngIf="err" class="alert alert-warning" role="alert">
          {{ err }}
        </div>
        <button class="btn btn-outline-primary btn-block" [disabled]="!registerForm.valid" type="submit">Registrarse</button><br>
      </div>
    </form>
  </div>
  <div class="modal-footer">

  </div>
</div>
