<div *ngIf="hasLoaded">
  <h1 class="text-center"> Panel de administración </h1>
  <h2 class="text-center"> Árbol de Proyectos: </h2><br>
  <div class="container">
    <ul>
      <li *ngFor="let project of projects; index as i">
        <h4 style="display: inline"> {{project.name}}: </h4>
        <span>{{project.Description}}</span>
        <ul>
          <div *ngFor="let conflict of projectConflicts">
            <li *ngIf="conflict.ProjectId === project.ProjectId">
              {{conflict.title}}
            </li>
          </div>
        </ul>
      </li>
    </ul>
    <div class="row">
      <button type="button" class="btn btn-primary btn-block" (click)="createProject()">Añadir proyecto</button>
    </div><br>
    <div class="row">
      <button type="button" class="btn btn-primary btn-block" (click)="createConflict()" [disabled]="projects.length === 0">Añadir conflictos (formularios) a un proyecto</button>
    </div><br>
    <div class="row">
      <button type="button" class="btn btn-primary btn-block" (click)="createUser()" [disabled]="true">Añadir perfil de trabajador social </button>
    </div>
  </div>
</div>
