<div *ngIf="hasLoaded" class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Herramienta de creación de Conflictos (tipos de formularios)</h4>
</div>
<form #projectCreation="ngForm" (ngSubmit)="submit(projectCreation.form)">
  <div class="modal-body">
    <h5 class="text-center">Crear conflicto asociado al proyecto...:</h5>
    <select class="form-control" ngModel required name="project">
      <option></option>
      <option *ngFor="let project of projects">{{project.name}}</option>
    </select>
    <h5 class="text-center">Tipo de conflicto:</h5>
    <select class="form-control" ngModel required name="conflict">
      <option></option>
      <option *ngFor="let conflict of conflicts">{{conflict.title}}</option>
    </select>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-block" [disabled]="!projectCreation.valid" type="submit">Crear conflicto</button>
  </div>
</form>
