<div *ngIf="hasLoaded">
  <nav class="navbar">
    <div class="container">
      <img src="../../assets/image.png" width="250vh">
    </div>
  </nav>
  <div class="background">
    <div class="container"><br>
      <div class="row justify-content-md-center">
        <div class="col"></div>
        <div class="col-md-auto">
          <button class="btn btn-lg btn-primary btn-block" (click)="open()">Hacer test</button>
        </div>
        <div class="col col-lg-2">
          <button class="btn btn-lg btn-outline-primary btn-block">Resultados</button>
        </div>
      </div>
    </div>
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="col-6 mx-auto">
                <div style="width: 36 rem" class="card h-100 justify-content-center">
                  <div class="container">
                    <div class="row">
                      <div class="col vl">
                        <div class="card-body">
                          <img src="{{this.organization.LogoUrl}}" style="max-width: 150px;">
                          <div class="card-title">{{this.organization.Name}}</div>
                          <div class="card-subtitle mb-2 text-muted">{{this.organization.Description}}</div>
                        </div>
                      </div>
                      <div class="col">
                        <!-- TODO : ADD INFO ABOUT THE TYPE OF CONFLICTS OF CODE PREVENT -->
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="footer" style="background: white;"><br>
    <p class="text-center"> Code prevent, C/ Santa Virgilia, 14.  2º A Madrid-28033, (+34) 616515443 </p>
  </div>
</div>