html {
  scroll-behavior: smooth;
}


.my-float{
	margin-top:22px;
}

.parallax {
  background: url('../../assets/john-mark-kuznietsov-397655.jpg') ;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}

.rand-parallax {
  background: url('https://picsum.photos/1200/?blur') ;
  height: 50vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.footer {
  background: #F0F0F0;
  position: absolute;
  width: 100%;
}

.light {
  background: #DCDCDC;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}