<div class="parallax">
  <div class="container"><br><br><br><br><br><br><br>
    <h1 class="text-center" style="color: whitesmoke">Social DinAPP</h1><br><br><br><br>
    <div class="row">
      <div class="col align-self-start">
        <button class="btn btn-lg btn-primary btn-block" (click)="open()">Crear una consulta</button>
      </div>
      <div class="col align-self-end">
        <button class="btn btn-lg btn-outline-primary btn-block" (click)="about()">Acerca de nosotros</button>
      </div>
    </div>
  </div>
</div>
<div class="light">
  <!-- PLACEHOLDER -->
  <div class="container"><br>
    <div class="row">
      <div class="col">
        <fa name="question" size="2x"></fa>
        <h2 style="display: inline"> Lorem ipsum</h2><br><br>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel turpis augue. Sed elementum tellus ac felis tincidunt eleifend. Nulla commodo urna in neque egestas, ut suscipit ipsum cursus. Aliquam erat volutpat. Mauris tempor, ex vitae tincidunt tristique, magna mauris dapibus ante, in euismod ligula dolor in eros. Ut scelerisque hendrerit dui, nec faucibus dolor finibus non. Proin malesuada neque ut maximus mollis. Cras imperdiet massa mauris, at mollis turpis porttitor a. Nunc placerat molestie lectus ornare rutrum. Nam non volutpat odio. Integer sed pretium metus. Suspendisse posuere finibus consectetur. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <fa name="question" size="2x"></fa>
        <h2 style="display: inline"> Lorem ipsum</h2><br><br>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel turpis augue. Sed elementum tellus ac felis tincidunt eleifend. Nulla commodo urna in neque egestas, ut suscipit ipsum cursus. Aliquam erat volutpat. Mauris tempor, ex vitae tincidunt tristique, magna mauris dapibus ante, in euismod ligula dolor in eros. </p>
      </div>
      <div class="col-sm">
        <img src="https://picsum.photos/id/1035/320/240">
      </div>
    </div><br>
  </div>
</div>