html {
  scroll-behavior: smooth;
}


.my-float{
	margin-top:22px;
}

.parallax {
  height: 100vh;
}

.navbar {
  height: 10vh;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #244860 !important;
}

.btn-outline-primary {
  border-color: #244860 !important;
  color: #244860 !important;
}

.btn-outline-primary:hover {
  background: #244860 !important;
  color: white !important;
}


.footer {
  height: 10vh;
}

.background {
  background: url('../../assets/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

.rand-parallax {
  background: url('https://picsum.photos/1200/?blur') ;
  height: 50vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.footer {
  background: #F0F0F0;
  position: absolute;
  width: 100%;
}

.light {
  background: #DCDCDC;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}