<div *ngIf="hasLoaded" class="div">
 <h1 class="text-center">Déjanos ayudarte</h1>
 <div class="container">
	<form #answers="ngForm" (ngSubmit)="submit(answers.form)">
		<div *ngFor="let question of questions; index as i">
			<div class="card" style="width: 100%">
				<div class="card-header">
          <h6 *ngIf="question.isMandatory" style="color: red; display: inline">* </h6>
					<h6 class="card-title" style="display:inline">
						{{question.Question}}
          </h6>
				</div>
				<div class="card-body">
					<div class="card-text">
						{{question.description}}
					</div>
				</div>
				<div class="card-footer">
					<!-- QUESTION TYPE 0 stands for Open text answer -->
					<div *ngIf="question.QustionType === '0'">
            <div *ngFor="let option of question.Options; index as j">
              <label for="answer-{{i}}-{{j}}">{{option.OptionDescription}}:</label>
              <textarea class="form-control" type="text" name="{{i}}-{{j}}" placeholder="Tu respuesta" ngModel [required]="question.isMandatory === 1"></textarea>
            </div>
					</div>
					<!-- QUESTION TYPE 1 STANDS FOR MULTIPLE CHOICE ANSWER WITH CHECKBOXES -->
					<div class="form-check" *ngIf="question.QustionType === '1'">
						<div *ngFor="let option of question.Options; index as j">
							<input class="form-check-input" type="checkbox" name="{{i}}-{{j}}" [ngModel]="def">
							<label class="form-check-label" for="answer-{{i}}-{{j}}">{{option.OptionDescription}}</label>
						</div>
					</div>
					<!-- QUESTION TYPE 2 STANDS FOR MULTIPLE CHOICE ANSWER WITH RADIO BUTTONS -->
					<div class="form-check" *ngIf="question.QustionType === '2' || question.QustionType === '3'" >
						<div *ngFor="let option of question.Options; index as j">
							<input class="form-check-input" type="radio" id="answer-{{i}}-{{j}}" name="{{i}}" value="{{option.OptionDescription}}" ngModel [required]="question.isMandatory === 1">
							<label class="form-check-label" for="{{i}}">{{option.OptionDescription}}</label>
						</div>
					</div>
					<!-- QUESTION TYPE 3 STANDS FOR A BOOLEAN ANSWER, so it's the same as the SECOND CASE -->
					<!-- QUESTION TYPE 4 STANDS FOR A RANGED ANSWER -->
					<div *ngIf="question.QustionType === '4'">
						<div>
							<label></label>
              <input class="custom-range" type="range" min="0" max="{{question.Options.length}}" name="{{i}}" ngModel [required]="question.isMandatory === 1">
						</div>
					</div>
				</div>
			</div><br>
		</div>
		<button class="btn btn-outline-primary btn-block" [disabled]="!answers.valid" type="submit">Enviar las respuestas</button><br>
	</form>
 </div>
</div>
